<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="ecommage_blogs_grid_collection_load_before">
        <observer name="ev_grid_collection_load_after" instance="Ecommage\Attributes\Observer\GridAfterLoad" />
    </event>
</config>