<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ecommage_reviews_listing_data_source" xsi:type="string">Ecommage\CustomerReview\Model\ResourceModel\Reviews\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
     <virtualType name="Ecommage\CustomerReview\Model\ResourceModel\Reviews\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="eventPrefix" xsi:type="string">ecommage_reviews_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">reviews_collection</argument>
            <argument name="mainTable" xsi:type="string">ecommage_reviews</argument>
            <argument name="resourceModel" xsi:type="string">Ecommage\CustomerReview\Model\ResourceModel\Reviews</argument>
        </arguments>
    </virtualType>
</config>

