<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ecommage\Blog\Block\Index">
        <plugin name="Ecommage_show_customer_ID_card" sortOrder="10" type="Ecommage\Attributes\Plugin\Block\Blog\Slider\CollectionPlugin"/>
    </type>
</config>