<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Ecommage_DiscountReports::reports"
            title="Discount Reports"
            module="Ecommage_DiscountReports"
            sortOrder="10"
            parent="Magento_CatalogRule::promo"
            action="ecommage_discount/reports"
            resource="Ecommage_DiscountReports::reports"/>
    </menu>
</config>