<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ecommage_widget" frontName="ecommage_widget">
            <module name="Ecommage_HotDealWidget"/>
        </route>
    </router>
</config>