<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="ecommage" id="ecommage">
            <module name="Ecommage_FirstModule"/>
        </route>
        <route frontName="testm" id="check">
            <module name="Ecommage_FirstModule"/>
        </route>
    </router>
</config>

